.game {
  width: 600px;
  height: 200px;
  border-bottom: 1px solid #000;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#dino {
  width: 30px;
  height: 50px;
  position: relative;
  top: 150px;
  background-image: url("assets/dinoMih.png");
  background-size: 30px 50px;
}
#planty {
  width: 20px;
  height: 50px;
  position: relative;
  top: 100px;
  left: 580px;
  background-image: url("assets/planty.svg");
  background-size: 20px 50px;
}
.run-animation-planty {
  animation: plantyMov 2s infinite linear 1s;
}
#customer {
  width: 50px;
  height: 50px;
  position: relative;
  top: 50px;
  left: 780px;
  background-image: url("assets/customer.png");
  background-size: 50px 50px;
}
.run-animation-customer {
  animation: customerMov 2s infinite linear 2s;
}
#timer {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bold;
  color: grey;
}
#gameOver {
  position: absolute;
  top: 50%;
  left: 40%;
  font-weight: bold;
  color: grey;
  display: none;
  flex-direction: column;
}
@keyframes plantyMov {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }
}
@keyframes customerMov {
  0% {
    left: 780px;
  }
  100% {
    left: -20px;
  }
}
.jump {
  animation: jump 0.5s linear;
}
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 130px;
  }
  50% {
    top: 80px;
  }
  80% {
    top: 130px;
  }
  100% {
    top: 150px;
  }
}
.paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
